/*====================== Site fonts ======================*/

@font-face {
  font-family: 'Orbitron';
  src: url('../fonts/Orbitron-Black.woff2') format('woff2'),
  url('../fonts/Orbitron-Black.woff') format('woff'),
  url('../fonts/Orbitron-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../fonts/Orbitron-Medium.woff2') format('woff2'),
  url('../fonts/Orbitron-Medium.woff') format('woff'),
  url('../fonts/Orbitron-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../fonts/Orbitron-ExtraBold.woff2') format('woff2'),
  url('../fonts/Orbitron-ExtraBold.woff') format('woff'),
  url('../fonts/Orbitron-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../fonts/Orbitron-Bold.woff2') format('woff2'),
  url('../fonts/Orbitron-Bold.woff') format('woff'),
  url('../fonts/Orbitron-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../fonts/Orbitron-Regular.woff2') format('woff2'),
  url('../fonts/Orbitron-Regular.woff') format('woff'),
  url('../fonts/Orbitron-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../fonts/Orbitron-SemiBold.woff2') format('woff2'),
  url('../fonts/Orbitron-SemiBold.woff') format('woff'),
  url('../fonts/Orbitron-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../fonts/FiraCode-Bold.woff2') format('woff2'),
  url('../fonts/FiraCode-Bold.woff') format('woff'),
  url('../fonts/FiraCode-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../fonts/FiraCode-Light.woff2') format('woff2'),
  url('../fonts/FiraCode-Light.woff') format('woff'),
  url('../fonts/FiraCode-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../fonts/FiraCode-Medium.woff2') format('woff2'),
  url('../fonts/FiraCode-Medium.woff') format('woff'),
  url('../fonts/FiraCode-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../fonts/FiraCode-Regular.woff2') format('woff2'),
  url('../fonts/FiraCode-Regular.woff') format('woff'),
  url('../fonts/FiraCode-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../fonts/FiraCode-SemiBold.woff2') format('woff2'),
  url('../fonts/FiraCode-SemiBold.woff') format('woff'),
  url('../fonts/FiraCode-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Black.woff2') format('woff2'),
  url('../fonts/Montserrat-Black.woff') format('woff'),
  url('../fonts/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
  url('../fonts/Montserrat-ExtraBold.woff') format('woff'),
  url('../fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
  url('../fonts/Montserrat-Bold.woff') format('woff'),
  url('../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraLight.woff2') format('woff2'),
  url('../fonts/Montserrat-ExtraLight.woff') format('woff'),
  url('../fonts/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light.woff2') format('woff2'),
  url('../fonts/Montserrat-Light.woff') format('woff'),
  url('../fonts/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
  url('../fonts/Montserrat-Medium.woff') format('woff'),
  url('../fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
  url('../fonts/Montserrat-Regular.woff') format('woff'),
  url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
  url('../fonts/Montserrat-SemiBold.woff') format('woff'),
  url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Thin.woff2') format('woff2'),
  url('../fonts/Montserrat-Thin.woff') format('woff'),
  url('../fonts/Montserrat-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/*====================== Site roots ======================*/

:root{
  --site-color: #002547;
  --site-color2: #fff;
  --site-color3: #0ef;
}

.dark-mode{
  --site-color: #e2e2e2;
  --site-color2: #073661;
  --site-color3: #073661;
}

/*====================== General Css ======================*/

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--site-color);
  font-size: 16px;
}

img {
  display: inline-block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.hidden{
  display: none;
}

::-webkit-scrollbar{
  display: none;
}

.fa-solid{
  transition: 1s;
  color: var(--site-color2);
}

.container{
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1440px;
}

.site-btn{
  transition: 1s;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  font-style: normal;
  border-radius: 20px;
  font-family: 'Montserrat';
  color: var(--site-color2);
  border: 2px solid var(--site-color2);
  background-color: var(--site-color2);
}

.site-btn:hover{
  transition: 1s;
  color: var(--site-color2);
  border: 2px solid var(--site-color2);
  background-color: var(--site-color3);
}

/*====================== Header section started ======================*/

.header__restangle{
  position: absolute;
  width: 1013px;
  height: 1013px;
  left: -336px;
  top: -305px;
  z-index: -100;
  background: var(--site-color);
  filter: blur(282px);
}

.header__nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  z-index: 999;
  transition: 1s;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 1);
  justify-content: space-around;
}

.sticky{
  transition: 0.5s;
  background-color: #091921;
}

.header-logo__img {
  width: 150px;
  height: 50px;
  padding: 10px 0px 0px 0px;
}

.header__menu {
  display: flex;
  padding: 0px 0px 0px 150px;
}

.header-menu__item {
  padding: 15px 50px 0px 0px;
}

.header-menu__link {
  padding-left: 5px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 1px;
  color: var(--site-color2);
}

.header-menu__link:hover{
  transition: 1s;
  color: var(--site-color3);
}

.icon:hover{
  transition: 1s;
  color: var(--site-color3);
}

.header__menu-btn {
  background: transparent;
  padding: 0px 25px 0px 25px;
}

.header__menu-btn:hover{
  background: transparent;
  color: var(--site-color3);
  border: 2px solid var(--site-color3);
}

/*====================== Log In Btn Modal Started  ======================*/

.registrationForms__modal{
  position: relative;
  top: -120px;
  left: -260px;
}

.head__login{
  position: relative;
  left: 420px;
  width: 500px;
  padding: 60px;
  display: flex;
  border-radius: 30px;
  flex-direction: column;
  gap: 30px;
  backdrop-filter: blur(25px);
  border: 3px solid var(--site-color3);
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
}

.head__login-icon{
  position: relative;
  top: -30px;
  padding-left: 380px;
  font-size: 2em;
}

.heade__login-title{
  position: relative;
  top: -50px;
  font-family: 'Fira Code';
  font-weight: 600;
  font-size: 2.5rem;
  font-style: normal;
  text-align: center;
  color: var(--site-color3);
}

.inputBox{
  position: relative;
  top: -30px;
}

.inputBox input{
  position: relative;
  width: 100%;
  outline: none;
  border: 2.5px solid var(--site-color3);
  padding: 15px 20px;
  font-size: 1.25rem;
  border-radius: 10px;
  background: var(--site-color2);
}

.inputBox ::placeholder{
  color: var(--site-color3);
}

#login__main-btn{
  transition: 0.3s;
  font-size: 25px;
  font-weight: 600;
  line-height: 25px;
  font-style: normal;
  font-family: 'Montserrat';
  color: var(--site-color3);
}

#login__main-btn:active{
  transition: 0.3s;
  background: #dadada;
}

.footer__login-link{
  font-weight: 600;
  font-size: 1em;
  font-family: 'Fira Code';
  color: var(--site-color3);
}

.footer__login-link:nth-child(2){
  padding-left: 150px;
}

.footer__login-link:hover{  
  font-weight: bold;
}

/*====================== Log In Btn Modal End  ======================*/

/*====================== Day and Night Theme Started  ======================*/

.day-night__icons i{
  position: relative;
  width: 30px;
  height: 30px;
  transition: 1s;
  font-size: 20px;
  cursor: pointer;
  line-height: 28px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid var(--site-color2);
  color: var(--site-color2);
}

.day-night__icons i:hover{
  border: 2px solid var(--site-color3);
  color: var(--site-color3);
}

/*====================== Day and Night Theme End  ======================*/

/*================= Header Hero Started =================*/

.header__hero-container {
  display: flex;
  padding: 200px 0px 150px 0px;
  background-repeat: no-repeat;
  background-position: 650px 60px;
  background-image: url(../img/header-hero-bg-img.svg);
}

.header__hero-texts{
  padding-left: 100px;
}

.header__title-el{
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--site-color3);
}

.header__hero-title {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 800;
  font-size: 55px;
  line-height: 75px;
  letter-spacing: 0.1em;
  color: var(--site-color2);
}

.header__hero-title span{
  padding-left: 80px;
}

.header__hero-jobs span{
  position: static;
  z-index: 10;
  padding-right: 20px;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 3px;
  font-family: 'Fira Code';
  color: var(--site-color2);
}

.header__hero-jobs{
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 75px;
  letter-spacing: 1px;
  color: var(--site-color3);
}

.header__hero-disc {
  width: 600px;
  height: 50px;
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 24px;
  color: var(--site-color3);
}

.hero__social-media a{
  margin: 30px 15px 30px 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transition: 1s;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
}

/* Header Hero end */

/*====================== Header section end ======================*/
/*====================== Main section started ======================*/

.main__container{
  position: relative;
  top: 50px;
  width: 100%;
  height: 2000px;
}

/* About Section  */

.about__container{
  position: relative;
  top: 100px;
}

.about__section-title{
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 75px;
  letter-spacing: 0.1em;
  text-align: center;
  color: var(--site-color2);
}

.about__section-title::after {
  position: absolute;
  content: "";
  width: 120px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 4.3rem;
  background-color: var(--site-color3);
}

.about__container-elements{
  display: flex;
  justify-content: space-around;
}

.about__elements-img{
  width: 400px;
  height: 418px;
}

.about__elements-disc{
  padding-top: 100px;
}

.about__disc-title{
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 75px;
  letter-spacing: 3px;
  color: var(--site-color3);
}

.about__disc-text{
  width: 450px;
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  line-height: 24px;
  color: var(--site-color2);
}

/* About Section End*/

/* Skils Section */

.skils__container{
  position: relative;
  top: 500px;
}

.skils__section-title{
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 75px;
  letter-spacing: 0.1em;
  text-align: center;
  color: var(--site-color2);
}

.skils__section-title::after {
  position: absolute;
  content: "";
  width: 18rem;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 4.7rem;
  background-color: var(--site-color3);
}

.skils__container-elements{
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.skils__element-disc{
  padding-top: 100px;
}

.skils__disc-title{
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 75px;
  letter-spacing: 3px;
  color: var(--site-color3);
}

.skils__disc-text{
  width: 500px;
  padding-bottom: 50px;
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  line-height: 24px;
  color: var(--site-color2);
}

/* Skils Bar  */

.skillsData {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 600;
  padding: 20px 40px;
  margin-bottom: 2rem;
  border-radius: 10px;
  justify-content: space-between;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 1);

}

.skills__name-element {
  display: flex;
  align-items: center;
}

.skills__name-element i{
  font-size: 1rem;
  margin-right: 1rem;
  color: var(--site-color3);
}

.skill__title{
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--site-color3);
}

.skills__percent{
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--site-color3);
}

.skill__percent-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--site-color3);
  height: 0.25rem;
  border-radius: 0.5rem;
  z-index: -10;
}

.skill__language-html {
  width: 95%;
}

.skill__language-css {
  width: 85%;
}

.skill__language-js {
  width: 25%;
}

.skill__language-ui {
  width: 60%;
}

/* Skils Bar End */

.skils__section-img{
  position: relative;
  top: 200px;
  animation: floatImage 4s ease-in-out infinite;
  animation-delay: 3s;
}

@keyframes floatImage{
  0%{
    transform: translateY(0);
  }

  50%{
    transform: translateY(-130px);
  } 

  100%{
    transform: translateY(0);
  }
}

/* Skils Section End */









/*====================== Main section end ======================*/
